* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  width: 80%;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.prodotto {
  position: relative;
  display: inline-block;
}

.sconto {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
.sconto.sconto-rosso {
  background-color: red;
}

.heart {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: red;
}
.prodotto:hover .heart {
  display: block;
}
